<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="author" content="SensioTV">
        <meta name="description" content="An awesome SensioLabs University project to order some cool movies.">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=10"><![endif]-->

        <meta property="og:image" content="https://university.sensiolabs.com/images/sensiolabs-university-fullwhite.png">
        <meta property="og:title" content="SensioTV from SensioLabs University - Home">
        <meta property="og:description" content="An awesome SensioLabs University project to order some cool movies.">
    {% endblock %}

    <title>SensioTV {% block title '' %}</title>

    {% block stylesheets %}
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
        <!-- Personal CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/sensiotv-theme.min.css">
        {{ encore_entry_link_tags('app') }}

        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/sensiotv-favicon.ico">
        <link rel="icon" type="image/png" href="/assets/images/sensiotv-icon.png">
        <link rel="apple-touch-icon" type="image/png" href="/assets/images/sensiotv-icon.png">
    {% endblock %}
</head>
<body>
    {% block headerNav %}
        {% include '_partials/header-nav.html.twig' %}
    {% endblock %}

    <main id="main">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include '_partials/footer.html.twig' %}
    {% endblock %}

    <!-- Vendor JS -->
    {% block javascript %}
        <script src="https://kit.fontawesome.com/8d75946265.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
